/* Orden de generar estilos by Diego de Granda
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Misalaneos u otros
*/
:root {
  /* Colores */
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --black: #201E1C;
  --soft-black: #282623;
  --grey: #BABABA;
  --soft-white: #FAF8F7;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
  font-family: 'DM Sans', sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 304px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
  width: 150rem;
  height: 24rem;
  margin-top: 40rem;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40rem;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 24rem;
  font-weight: bold;
  line-height: 26rem;
    /* Es para dar valor al interlineado */
  color: var(--white);
}

.header--title-container p {
  margin-top: 25rem;
  font-size: 14rem;
  font-weight: 500;
  line-height: 18rem;
  color: var(--soft-orange);
}

.header--title-container .header-button {
  position: absolute;
  left: calc(50% - 118rem);
  top: 240rem;
  display: block;
  margin-top: 35rem;
  padding: 15rem;
  width: 229rem;
  height: 48rem;
  background-color: var(--soft-white);
  /* Sombra: */
  box-shadow: 0rem 4rem 8rem rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5rem;
  font-size: 14rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--soft-black);
}

.header-button span {
  display: inline-block;
  width: 13rem;
  height: 8rem;
  margin-left: 10rem;
  background-image: url('./assets/icons/down-arrow.svg');
}

main {
  min-width: 320px;
  width: 100%;
  height: auto;
  background-color: var(--soft-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 60rem;
  padding-bottom: 30rem;
  text-align: center;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .backgroundImg {
  width: 200rem;
  height: 200rem;
  margin: 0 auto;
  margin-bottom: 30rem;
  background-image: url(./assets/img/bitcoin.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2 {
  margin-bottom: 30rem;
  font-size: 24rem;
  font-weight: bold;
  line-height: 26rem;
  color: var(--soft-black);
}

.main-exchange-container p {
  margin-bottom: 40rem;
  font-size: 14rem;
  font-weight: 500;
  line-height: 16rem;
  color: #757575;
}

.main-currency-table, .main-comissions-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.main-currency-table .currency-table--title, .main-comissions-table .comissions-table--title {
  margin-bottom: 15rem;
  font-size: 18rem;
  font-weight: bold;
  line-height: 23rem;
  color: var(--bitcoin-orange);
  text-align: left;
  padding-left: calc(50% - 98rem);
}

.main-comissions-table .comissions-table--title {
  color: var(--secondary-blue);
}

.currency-table--container, .comissions-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 250px;
  height: 250rem;
  margin: 0 auto;
}

.currency-table--container table, .comissions-table--container table {
  width: 100%;
  height: 100%;
}

.currency-table--container td, .comissions-table--container td {
  width: 50%;
  font-size: 16rem;
  font-weight: 500;
  line-height: 19rem;
  color: var(--grey);
  background-color: var(--white);
  text-align: left;
  padding-left: 15rem;
}

.currency-table--container .table__top-left, .comissions-table--container .table__top-left {
  border-radius: 15rem 0 0 0;
}
.currency-table--container .table__top-right, .comissions-table--container .table__top-right {
  border-radius: 0 15rem 0 0;
}
.currency-table--container .table__bottom-left, .comissions-table--container .table__bottom-left {
  border-radius: 0 0 0 15rem;
}
.currency-table--container .table__bottom-right, .comissions-table--container .table__bottom-right {
  border-radius: 0 0 15rem 0;
}

.currency-table--container .table__right, .comissions-table--container .table__right {
  padding-left: 25rem;
  font-size: 14rem;
  font-weight: normal;
  line-height: 17rem;
  color: #757575;
}

.currency-table--container .down {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  margin-left: 10rem;
  background-image: url('./assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--container .up {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  margin-left: 10rem;
  background-image: url('./assets/icons/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date, .comissions-table--date {
  width: 190rem;
  height: 30rem;
  margin: 0 auto;
  margin-top: 15rem;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8rem;
}

.comissions-table--date {
  background-color: var(--soft-blue);
}

.currency-table--date p, .comissions-table--date p {
  font-size: 12rem;
  font-weight: 300;
  line-height: 15rem;
  color: var(--soft-black);
}